* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Rock Salt';
    text-shadow: 0px 4px 0px darkgrey;
}

h2, h3, h4 {
    font-family: 'Raleway';
}

p, address {
    font-family: 'Lora';
}

img {
    width: 300px;
    height: 400px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

section h3, section h4 {
    margin-top: 30px;
}

#education, #employment {
    margin-top: 70px;
}

h2 {
    color: hotpink;
}

p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 600px) {

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-around;
    }

    #education {
        margin-top: 0px;
    }
}